<script src="/admin/jquery/dist/jquery.min.js"></script>
<script src="/admin/dist/js/sidebarmenu.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>

<script src="/admin/dist/libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<script src="/admin/dist/libs/magnific-popup/meg.init.js"></script>
<!--Custom JavaScript -->
<!-- <script src="/admin/dist/js/custom.min.js"></script> -->
</body>

</html>