<script src="/admin/jquery/dist/jquery.min.js"></script>
<script src="/admin/dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="/admin/dist/js/custom.min.js"></script>
</body>

</html>