<script src="/admin/jquery/dist/jquery.min.js"></script>
<script src="/admin/dist/js/sidebarmenu.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<!--Custom JavaScript -->
<!-- <script src="/admin/dist/js/custom.min.js"></script> -->
</body>

</html>