@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Marck+Script");
.banner {
  background-image: url("../img/bor3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .banner .banner-background {
    background: rgba(0, 0, 0, 0.5); }
    .banner .banner-background .container {
      width: 100% !important;
      max-width: 90% !important; }
      .banner .banner-background .container .heading-text {
        padding-top: 5rem;
        padding-bottom: 11rem; }
        .banner .banner-background .container .heading-text h1 {
          font-size: 5.3em;
          font-weight: 300;
          padding: 0;
          margin: 0;
          font-family: 'Roboto',fantasy;
          color: white;
          position: relative; }
        .banner .banner-background .container .heading-text p.subheading {
          font-size: 1.7em;
          font-weight: 300;
          color: #7eac42;
          margin-top: -10px;
          font-style: italic; }
        .banner .banner-background .container .heading-text .contact {
          padding-left: 15px;
          margin-top: 1.7em;
          font-size: 1em;
          background: rgba(248, 246, 243, 0.904);
          background: linear-gradient(to right, rgba(248, 246, 243, 0.5), rgba(1, 1, 1, 0));
          padding: 1.3em;
          color: rgba(248, 246, 243, 0.904);
          font-style: italic;
          transform: skew(-2deg);
          width: 70%;
          border-radius: 3px;
          font-weight: 300;
          font-family: 'Roboto', sans-serif; }
          .banner .banner-background .container .heading-text .contact p {
            padding: 0;
            margin: 5px 0;
            filter: none; }
          .banner .banner-background .container .heading-text .contact i {
            color: #f7b733;
            margin-right: 4px; }

.img-section {
  padding: 11em 1em 4em 1em; }
  .img-section .container {
    max-width: 90%; }
    .img-section .container .row .col-md-4 img {
      width: 100%;
      border: 8px solid rgba(248, 246, 243, 0.904), 10px solid #7eac42;
      position: relative;
      overflow: hidden;
      transition: all .3s ease-in-out; }
      .img-section .container .row .col-md-4 img:hover {
        transform: scale(1.1);
        box-shadow: 0px 15px 20px rgba(1, 1, 1, 0.7); }
      .img-section .container .row .col-md-4 img::after {
        position: absolute;
        content: ''; }
    .img-section .container .row .col-md-4:nth-child(2) img {
      box-shadow: 0px 15px 20px rgba(1, 1, 1, 0.4);
      transform: scale(1.1); }
    .img-section .container .row .col-md-4:nth-child(2):before {
      content: '';
      position: absolute;
      height: 4px;
      width: 50%;
      top: -40px;
      background: #39612a;
      text-align: center;
      transform: skew(-20deg) translate(40%); }

.about-us {
  padding: 8em 2em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-top: 2px slid .about-us green;
  background: url("../img/123456.jpg");
  background-repeat: no-repeat;
  background-position: top right; }
  .about-us h2 {
    font-weight: 300;
    font-size: 4.5em;
    padding-left: 1em;
    position: relative;
    margin-bottom: 1em; }
    .about-us h2:after {
      content: "";
      width: 20%;
      height: 4px;
      left: 10px;
      position: absolute;
      bottom: -8px;
      background-color: #39612a;
      transform: skew(30deg); }
  .about-us .container {
    background: rgba(255, 255, 255, 0.5); }
    .about-us .container .row .col-md-9 .info .about-us-title {
      margin-bottom: 1.2em; }
      .about-us .container .row .col-md-9 .info .about-us-title .fa-compass {
        font-size: 40px;
        margin-right: 10px;
        color: #696938; }
      .about-us .container .row .col-md-9 .info .about-us-title h3 {
        display: inline-block;
        font-weight: 500;
        font-size: 1.8em; }
      .about-us .container .row .col-md-9 .info .about-us-title p {
        font-size: 1.3em;
        line-height: 1.5em;
        color: #696938; }
    .about-us .container .row .col-md-9 .info p {
      font-size: 1.2em; }
    .about-us .container .row .col-md-9 .info a {
      text-decoration: none;
      padding: 5px 8px;
      color: #adcaa2;
      color: #7eac42;
      border-radius: 5px;
      border: 3px solid #7eac42;
      transition: .2s all ease-in-out; }
      .about-us .container .row .col-md-9 .info a:hover {
        color: white;
        background: #7eac42; }
  .about-us .fa-pagelines {
    position: absolute;
    font-size: 300px;
    z-index: -1;
    top: -40px;
    left: -10px;
    color: #DBE5CA; }

.amenities {
  background: linear-gradient(to left, transparent 70%, #1f4037, #99f2c8);
  padding: 100px 0; }
  .amenities h2 {
    font-weight: 300;
    font-size: 3.5em;
    padding-left: 1em;
    position: relative;
    margin-bottom: 1em; }
    .amenities h2:after {
      content: "";
      width: 20%;
      height: 4px;
      left: 10px;
      position: absolute;
      bottom: -8px;
      background-color: #39612a;
      transform: skew(30deg); }
  .amenities .container {
    padding: 1em 7em;
    padding: 1em 7em;
    max-width: 90%; }
    .amenities .container .row .col-md-6 .services li {
      list-style: none;
      color: white;
      margin-bottom: 18px;
      background: #FFFFFF;
      padding-top: 1.4em;
      padding-bottom: .2em;
      padding-left: 30px;
      line-height: 20px;
      border-radius: 2px;
      box-shadow: 0px 5px 10px rgba(1, 1, 1, 0.1);
      border: 10px solid linear-gradient(to right, #7eac42 70%, rgba(248, 246, 243, 0.904));
      position: relative;
      border-top: 3px solid #7eac42; }
      .amenities .container .row .col-md-6 .services li i {
        font-size: 15px;
        margin-right: 13px;
        left: -8px;
        top: -8px;
        color: #7eac42;
        border: 3px solid #7eac42;
        padding: 5px;
        position: absolute;
        border-radius: 50%;
        background: white; }
      .amenities .container .row .col-md-6 .services li p {
        font-size: 1.3em;
        color: #25242c;
        display: inline-block;
        font-weight: 300; }

.service-images {
  padding: 7em 0; }
  .service-images .container .row img {
    width: 100%; }

.contact-us {
  background: linear-gradient(to right, rgba(1, 1, 1, 0.5), rgba(1, 1, 1, 0.5)), url("../img/88888.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 4em 0; }
  .contact-us .container .row .col-md-6 {
    text-align: center; }
    .contact-us .container .row .col-md-6 p {
      font-size: 2.5em;
      color: #7eac42;
      text-transform: uppercase;
      font-weight: 500; }
    .contact-us .container .row .col-md-6 a {
      font-size: 3em;
      padding: 10px;
      border: 4px solid #f7b733;
      text-align: center;
      margin: 0 auto;
      text-decoration: none;
      color: #f7b733; }

footer {
  background: #25242c;
  color: #696F6D;
  padding: 3em 0; }
  footer .container .row .col-md-4 {
    padding: 20px;
    overflow: hidden; }
    footer .container .row .col-md-4 h4 {
      color: #7eac42;
      font-size: 1em;
      margin: 10px 0 0 0; }
    footer .container .row .col-md-4 p {
      padding: 0;
      margin: 0; }
      footer .container .row .col-md-4 p a {
        color: #f7b733;
        font-weight: 300; }
    footer .container .row .col-md-4 ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      footer .container .row .col-md-4 ul li {
        padding: 5px 0; }
        footer .container .row .col-md-4 ul li.underline-footer {
          border-bottom: 1px solid rgba(105, 111, 109, 0.3); }
        footer .container .row .col-md-4 ul li a {
          color: #696F6D;
          font-size: 1em; }
          footer .container .row .col-md-4 ul li a.icon-footer {
            color: #f7b733;
            font-size: 1.5em; }
