<% include ./_layouts/header %>

<div class="offert">

    <div class="offert-bg"></div>

    <!-- <div class="top-title">
            <div class="container-fluid">
                <h1>
                    <i class="fas fa-arrow-right"></i>Контакти</h1>
            </div>
        </div> -->

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="offert-inner">
                    <div class="title">
                        <h1>Великден</h1>
                        <h4>В ПАРК- ХОТЕЛ „БОРА“ гр. ПАВЛИКЕНИ</h4>
                    </div>
                    <div class="pricing-table">
                        <div class="offert-text">
                            <ul>
                                <li>* Офертата е валидна за периода от 25.04.2019г. до 29.04.2019г.</li>
                                <li> * Цената е за човек настанен в двойна стая или апартамент при двама
                                    пълноплащащи</li>
                            </ul>


                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" colspan="2">ЦЕНИ НОЩУВКА СЪС ЗАКУСКА</th>
                                    <!-- <th scope="col">Handle</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-left w-75">Стая с две легла</td>
                                    <td class="text-right">54.00лв</td>
                                    <td class="text-right">54.00лв</td>
                                    <td class="text-right">54.00лв</td>

                                </tr>
                                <tr>

                                    <td class="text-left w-75">Стая, ползвана самостоятелна</td>
                                    <td class="text-right">40.00</td>
                                    <td class="text-right">54.00лв</td>
                                    <td class="text-right">54.00лв</td>
                                </tr>
                                <tr>

                                    <td class="text-left w-75">Допълнително легло в стая</td>
                                    <td class="text-right">15.00лв</td>
                                    <td class="text-right">54.00лв</td>
                                    <td class="text-right">54.00лв</td>
                                </tr>
                                <tr>

                                    <td class="text-left w-75">Допълнително легло в стая</td>
                                    <td class="text-right">15.00лв</td>
                                    <td class="text-right">54.00лв</td>
                                    <td class="text-right">54.00лв</td>
                                </tr>
                                <tr>

                                    <td class="text-left w-75">Допълнително легло в стая</td>
                                    <td class="text-right">15.00лв</td>
                                    <td class="text-right">54.00лв</td>
                                    <td class="text-right">54.00лв</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="note">
                        * Деца до 2,99г. - БЕЗПЛАТНО.
                    </div>

                    <div class="offert-text">
                        <h2>ПАКЕТЪТ ВКЛЮЧВА:</h2>
                        <ul>
                            <li>
                                Съответния брой нощувки със закуска на Блок маса;
                            </li>
                            <li>
                                Съответния брой нощувки със закуска на Блок маса;
                            </li>
                            <li>
                                Съответния брой нощувки със закуска на Блок маса;
                            </li>
                            <li>
                                Съответния брой нощувки със закуска на Блок маса;
                            </li>
                            <li>
                                Съответния брой нощувки със закуска на Блок маса;
                            </li>
                        </ul>
                        <p>
                            При направена резервация се изисква 50% авансово плащане в петдневен срок за
                            потвърждаване. Останалите 50% се заплащат на рецепция.
                        </p>
                        <h2>УСЛОВИЯ ЗА АНУЛАЦИЯ:</h2>
                        <ul>
                            <li>
                                Съответния брой нощувки със закуска на Блок маса;
                            </li>
                            <li>
                                Съответния брой нощувки със закуска на Блок маса;
                            </li>

                        </ul>
                    </div>
                    <div class="mt-5">
                        <h2 class="orange-title-text "> Изберете тишината и спокойствиете сред борова гора и
                            приятелска среда!
                            Екипът на Парк- хотел „ Бора“ ще работи за Вашето празнично настроение.</h2>
                    </div>
                    <div class="reservations">
                        <h2>За резервация</h2>
                        <ul>
                            <li>0889 281 600; 0610 5 55 35
                            </li>
                            <li> e-mail: info@parkhotel-bora.com
                            </li>
                            <li>IBAN: BG83UNCR75271042934213
                                Уни Кредит Булбанк
                                "ФИДКОМ" гр. Павликени</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<% include ./_layouts/footer %>