<% include ./_layouts/header %>

<div class="top-title p-4">
    <div class="container-fluid">
        <h1>
            <i class="fas fa-arrow-right"></i>За нас</h1>
    </div>
</div>
<div class="spa">
    <div class="container-fluid">
        <div class="row">
            <div class="amenities-container col-md-3 col-lg-3 ">
                <div>
                    <h2>Комплексът предлага</h2>
                    <div class="amenities-list">
                        <ul>
                            <li>
                                <span></span>Балнеоложки услуги</li>
                            <li>
                                <span></span>Хидромасаж с минерална вода</li>
                            <li>
                                <span></span>Тангентор</li>
                            <li>
                                <span></span>Джакузи</li>
                            <li>
                                <span></span>Солариум</li>
                            <li>
                                <span></span>Сауна</li>
                            <li>
                                <span></span>Закрит и открит плувен басейн</li>
                            <li>
                                <span></span>Плаж</li>
                        </ul>
                    </div>
                </div>

                <div class="amenities-image">
                    <img src="./images/pic5.jpg" alt="">
                </div>

                <div class="amenities-image">
                    <img src="./images/pic6.jpg" alt="">
                </div>
            </div>
            <div class="uses-container col-md-9 col-lg-8 ml-2">
                <div class="title">
                    <h2>ЕКСПЕРТНА ОЦЕНКА</h2>
                    <p>На минералната вода от гр. Павликени, Местност Бели бряг, сондаж Р-1ХГ</p>
                </div>
                <div class="content uses">
                    <%- content %>


                </div>


                <div>
                    В заключение минералната вода в Павликени, както тази в Овча Могила, е подходяща за лечебно и
                    профилактично използване при
                    посочените заболявания
                </div>

                <div>
                    Ст.н.с.д-р В. Едрева, кмн Повече информация за съдържанието и количествата на различните
                    вещества, можете да намерите в оценката
                    на водата, издадена от акредитирана химическа лаборатория за анализ на минералните води, може
                    да
                    видите ТУК
                </div>
            </div>
        </div>
    </div>

</div>




<% include ./_layouts/footer %>